body {
  padding-top: 65px;
  position: relative;
}

.navbar-nav > li > .dropdown-menu {
  border-radius: 6px;
  top: 93%;
}

.navbar-nav > li {
  padding: 10px 2px;
}

.navbar-nav > li > a {
  padding: 15px 11px;
  border-radius: 8px;
}

.navbar-nav > li > a caret {
  margin-left: 0;
}

.navbar {
  min-height: 65px !important;
}

.navbar-collapse.in, .navbar-collapse.collapsing {
  margin-top: 10px;
}

.navbar-brand {
  padding: 6px 4px 4px 15px;
  margin-right: 15px;
}

.navbar-toggle {
  margin-top: 14px;
}

.navbar-brand img {
  height: 59px;
}

.jumbotron.header h1, .jumbotron.header p {
  text-align: center;
  color: #fff;
}

.jumbotron.header h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.sticky-menu-container {
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7
}

.sticky-menu-container ul li {
  margin: 10px 0;
}

.sticky-menu-container ul li a {
  padding: 4px 15px;
}

.content {
  margin-top: 15px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .navbar-brand {
    padding: 4px 4px 4px 15px;
  }

  .jumbotron.header {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .jumbotron.header h1 {
    font-size: 35px;
  }

  .jumbotron.header p {
    font-size: 17px;
  }
}

.jumbotron.header {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  background: #006680;
  background-image: -webkit-linear-gradient(287deg,#006680 10%,#0093b9 36%,#fff 70%);
  background-image: -moz-linear-gradient(287deg,#006680 10%,#0093b9 36%,#fff 70%);
  background-image: -o-linear-gradient(287deg,#006680 10%,#0093b9 36%,#fff 70%);
  background-image: -ms-linear-gradient(287deg,#006680 10%,#0093b9 36%,#fff 70%);
  background-image: linear-gradient(163deg,#006680 10%,#0093b9 36%,#fff 70%);
  -webkit-background-size: 100% 1100px;
  -moz-background-size: 100% 1100px;
  background-size: 100% 1100px;
  background-repeat: no-repeat;
}

.footer {
  border-top: 1px solid #e7e7e7;
  padding: 15px 0;
  margin-top: 15px;
  background-color: #f8f8f8;
}

.footer .row {
  margin-right: 0;
  margin-left: 0;
}

.footer ul.footer-column {
  padding: 0;
  float: left;
  list-style: none;
}

.footer ul.footer-column:first-child {
  margin-left: 0;
}

.footer ul.footer-column li a {
  color: #b4b4b4;
  font-weight: 200;
}

.footer ul.footer-column li.title {
  font-weight: bold;
  color: #000;
  margin-bottom: 4px;
}
