<div class="footer">

  <div class="container">

    <div class="row">

      <ul class="col-md-2 col-xs-6 footer-column">
        <li class="title">About Fulcrum</li>
        <li>
          <a href="http://www.fulcrumapp.com/help/">Help</a>
        </li>
        <li>
          <a href="http://www.fulcrumapp.com/blog/">Blog</a>
        </li>
        <li>
          <a href="http://www.fulcrumapp.com/guides/">Guides</a>
        </li>
      </ul>

      <ul class="col-md-2 col-xs-6 footer-column">
        <li class="title">Code</li>
        <li>
          <a href="https://github.com/fulcrumapp">Fulcrum on GitHub</a>
        </li>
        <li>
          <a href="https://github.com/fulcrumapp/fulcrum-node">Fulcrum JavaScript</a>
        </li>
        <li>
          <a href="https://github.com/fulcrumapp/fulcrum-python">Fulcrum Python</a>
        </li>
        <li>
          <a href="https://github.com/fulcrumapp/fulcrum-ruby">Fulcrum Ruby</a>
        </li>
      </ul>

    </div>

  </div>

</div>
