<div class="footer">

  <div class="container">

    <div class="row">

      <ul class="col-md-2 col-xs-6 footer-column">
        <li class="title">About Fulcrum</li>
        <li>
          <a href="http://www.fulcrumapp.com/tour/">Tour</a>
        </li>
        <li>
          <a href="http://www.fulcrumapp.com/help/">Help</a>
        </li>
        <li>
          <a href="http://www.fulcrumapp.com/blog/">Blog</a>
        </li>
        <li>
          <a href="http://www.fulcrumapp.com/guides/">Guides</a>
        </li>
        <li>
          <a href="https://web.fulcrumapp.com/users/sign_up/">Sign Up</a>
        </li>
      </ul>

      <ul class="col-md-2 col-xs-6 footer-column">
        <li class="title">Social</li>
        <li>
          <a href="mailto:support@fulcrumapp.com">Support</a>
        </li>
        <li>
          <a href="https://twitter.com/fulcrumapp">Twitter</a>
        </li>
        <li>
          <a href="https://www.facebook.com/fulcrumapp/">Facebook</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/4788451" data-proofer-ignore>LinkedIn</a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UCp9XRb4VJpWTtFhPsyN5rWg">YouTube</a>
        </li>
      </ul>

      <ul class="col-md-2 col-xs-6 footer-column">
        <li class="title">Code</li>
        <li>
          <a href="https://github.com/fulcrumapp">Fulcrum on GitHub</a>
        </li>
        <li>
          <a href="https://github.com/fulcrumapp/fulcrum-node">Fulcrum JavaScript</a>
        </li>
        <li>
          <a href="https://github.com/fulcrumapp/fulcrum-python">Fulcrum Python</a>
        </li>
        <li>
          <a href="https://github.com/fulcrumapp/fulcrum-ruby">Fulcrum Ruby</a>
        </li>
      </ul>

      <ul class="col-md-2 col-xs-6 footer-column">
        <li class="title">Mobile Apps</li>
        <li>
          <a href="https://itunes.apple.com/us/app/fulcrum/id467758260?mt=8">iOS</a>
        </li>
        <li>
          <a href="https://play.google.com/store/apps/details?id=com.spatialnetworks.fulcrum">Android</a>
        </li>
      </ul>
    </div>

  </div>

</div>
