<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1><a href="/"><img src="http://www.fulcrumapp.com/assets/img/fulcrum-logo.svg" alt="fulcrum logo" /></a></h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      <h3>General</h3>
      <ul>
      {% assign general_pages = site.general | sort: "order" %}
      {% for node in general_pages %}
      <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
        <a href="{{ node.url }}">{{ node.title }}</a>
      </li>
      {% endfor %}
      </ul>
      <h3>API</h3>
      <ul>
      {% assign pages = site.api | sort: "order" %}
      {% for node in pages %}
        <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
          <a href="{{ node.url }}">{{ node.title }}</a>
        </li>
      {% endfor %}
      </ul>
      <h3>Endpoints</h3>
      <ul>
      {% assign pages = site.endpoints | sort: "order" %}
      {% for node in pages %}
        <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
          <a href="{{ node.url }}">{{ node.title }}</a>
        </li>
      {% endfor %}
      </ul>
      <h3>Expressions</h3>
      <ul>
      {% assign expressions = site.expressions | sort: "order" %}
      {% for node in expressions %}
      {% if node.order > 0 %}
        <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
          <a href="{{ node.url }}">{{ node.title }}</a>
        </li>
      {% endif %}
      {% endfor %}
      </ul>
      <h3>Libraries</h3>
      <ul>
        <li class="sidebar-nav-item">
          <a href="https://github.com/fulcrumapp/fulcrum-node">JavaScript</a>
        </li>
        <li class="sidebar-nav-item">
          <a href="https://github.com/fulcrumapp/fulcrum-python">Python</a>
        </li>
        <li class="sidebar-nav-item">
          <a href="https://github.com/fulcrumapp/fulcrum-ruby">Ruby</a>
        </li>
      </ul>
    </ul>

    <div class="ref">
      <ul>
        <li><a href="https://github.com/fulcrumapp/">GitHub</a> &bull; </li>
        <li><a href="https://github.com/fulcrumapp/developer.fulcrumapp.com/issues">Open an Issue</a></li>
      </ul>
    </div>
    <p class="copy">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
